<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap-reboot_2.css">
    <link rel="stylesheet" type="text/Css" href="/css/Style_2.css">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Блог сайта</h1>

    <div th:each="el : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"/>
        <p th:text="${el.anons}"/>
        <p th:text="${el.full_text}"/>
        <a th:href="'/blog/'+${el.id}">Детальнее</a>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>